
{% extends 'index.html' %}

{% block content %}

<center><h1>Promociones del dia !!!! </h1></center>
         <h1>por la compra de un taladro industrial llevas una caja de herrramientas mediana </h1>
         <img src="{{url_for('static', filename='img/taladroind.jpg')}}"alt="" width="500px" height="300px">  <img src="{{url_for('static', filename='img/cajah.jpg')}}"alt="" width="500px" height="300px"> 
        
        <h1>por la compra de un kit de destornilladores te regalamos un 10% de la compra de una pulidora </h1>
        <img src="{{url_for('static', filename='img/kitdestornilladores.jpg')}}"alt="" width="500px" height="300px">  <img src="{{url_for('static', filename='img/pulidora.jpg')}}"alt="" width="500px" height="300px">

        <h1>ofrecemos nuestros increibles servicios con la categoria de: </h1>
       <h1>herramientas:Electricas portatiles </h1>
       <p> Las herramientas eléctricas portátiles son una inversión imprescindible para cualquier persona que trabaje en proyectos de bricolaje o en la industria de la construcción. Estas herramientas son una excelente opción si necesitas trabajar en espacios reducidos o fuera de la red eléctrica, ya que utilizan baterías recargables en lugar de enchufes. Además, estas herramientas son livianas y fáciles de mantener, lo que las hace ideales para quienes buscan herramientas duraderas y eficientes. Además, ofrecen grandes ventajas en términos de ahorro y esfuerzo. Entre las herramientas más comunes podrás encontrar taladros, atornilladores, rotomartillos, martillos demoledores, dremeles, amoladoras y más.</p>
        <img src="{{url_for('static', filename='img/taladroportatil.jpg')}}"alt="" width="500px" height="300px"> <img src="{{url_for('static', filename='img/pulidora.jpg')}}"alt="" width="500px" height="300px"> 
       <h1>herramientas:Manuales </h1>
       <p>Las herramientas manuales son esenciales para cualquier proyecto de construcción o reparación. Aunque la tecnología ha avanzado a pasos agigantados, hay algunas tareas que aún requieren la intervención de herramientas manuales para un trabajo preciso y cuidadoso. Las herramientas manuales son ideales para trabajos de menor escala o para aquellos lugares donde no es posible utilizar herramientas eléctricas. Además, son más económicas y no requieren una fuente de energía para su uso. Desde martillos y destornilladores hasta alicates y llaves de ajuste, estas herramientas son imprescindibles en cualquier caja de herramientas. Si eres un aficionado al bricolaje o un profesional de la construcción, las herramientas manuales son una inversión duradera que no te defraudará. ¿Que esperas para comprar? </p>
         <img src="{{url_for('static', filename='img/herramientasm.png')}}"alt="" width="600px" height="180px">
          
        <h1>Contamos con una zona especial de carge de mercancia para hacerte la vida mas facil </h1>
        <img src="{{url_for('static', filename='img/zonac.jpg')}}"alt="" width="1200px" height="350px">
       
{% endblock %}
