{% extends 'index.html' %}
{% block header %}
<h1>{% block title %}sobre nosotros{% endblock %}</h1>
{% endblock %}
{% block content %} 




<h2>somos una pagina que vende herramientas a muy buen costo contamos con una gran variedad de proveedores
nacionales así como importadores, con quienes establecer buenos acuerdos comerciales. Acuerdos que permiten desde el financiamiento hasta mayores márgenes de ganancia.
tenemos desde productos sencillos y muy baratos, como un clavo, hasta complejas herramientas tecnológicas especializadas para tareas profesionales. Lo que se traduce en un universo de opciones para el tipo de ferretería en la que estamos pensando, con distintos niveles de inversión y muchas posibilidades para el desarrollo de propuestas de valor originales. 
ofrecemos tambien reparamiento adomicilio de alta calidad</h2>
<center>  <img src="{{url_for('static', filename='img/herramientas22.jpeg')}}"alt="" width="500px" height="300px">   <center>

<h1>contamos con parqueadero subterraneo para todos nuestos clientes </h1>
<center>  <img src="{{url_for('static', filename='img/parqueadero22.jpg')}}"alt="" width="500px" height="300px">   <center>
<h2>contamos con parqueadero subterraneo en nuestras instalaciones para dispocision de nuestros clientes por compras mayores de 200.000 el parqueadero es totalmente gratis</h2>
<h1>tienda virtual </h1>
<center>  <img src="{{url_for('static', filename='img/tiendavirtual.jpg')}}"alt="" width="500px" height="300px">   <center>
<h2>contamos con nuestra tienda virtual para que puedas disfrutar de nuestros productos desde la disponibilidad de su casa las 24 horas del dia sin ninguna limitacion haslo sin colas y totalmente rapido es muy sencillo intentalo desde tu casa</h2>
<h1>envio a domicilio </h1>
<center>  <img src="{{url_for('static', filename='img/repartidor.jpeg')}}"alt="" width="500px" height="300px">   <center>
<h2>por la compra en nuestras tiendad virtuales podras resivir tu compra puerta a puerta totalmente gratis y contamos con un personal 100% responsable para poder entregar tus productodos hasta la puerta de su casa </h2>
{% endblock %}
 

