{% extends 'index.html' %}
{% block header %}
<center><h1>{% block title %}productos{% endblock %}</h1><center>
{% endblock %}
{% block content %}

<center><h1>OFERTA DEL DÍA</h1></center>
<center><img src="{{url_for('static', filename='img/taladropercutor.jpeg')}}"alt="" width="600px" height="300px"> <br><br><!—actualiza dato-->
<h1>Taladro percutor atornillador inalámbrico de 13mm DeWalt DCD7781D1 20V + accesorios con bolso 110V/220V </h1>

<center><img src="{{url_for('static', filename='img/h1.jpg')}}"alt="" width="600px" height="300px"> <br><br><!—actualiza dato-->
<h1>Taladro percutor atornillador inalámbrico de 13mm DeWalt DCD7781D1 20V + accesorios con bolso 110V/220V </h1>

<center><img src="{{url_for('static', filename='img/hidrolavadora.jpg')}}"alt="" width="600px" height="300px"> <br><br><!—actualiza dato-->
<h1>Hidrolavadora Electrica Femmto Hlt203 1400w Alta presion 1600 Psi</h1>

<center><img src="{{url_for('static', filename='img/manguera.jpeg')}}"alt="" width="600px" height="300px"> <br><br><!—actualiza dato-->
<h1>Manguera Súper Reforzadas 4 Capas 1/2''x100m Truper 19874</h1>


<h1><center><img src="{{url_for('static', filename='img/motor.jpeg')}}"alt="" width="600px" height="300px"> <br><br><!—actualiza dato-->
<p>Motor A Gasolina 6.5 Hp 2.9 L Pretul 28114</p>


{% endblock %}